<header class="header">
  <img class="header__logo" src="assets/images/logo.svg" alt="Você XP">
</header>

<section class="blQock__register">
  <div class="container">
    <div class="row">
      <div class="col s12">
          <form class="form__register">
              <div class="form__question">
                  <label class="input-label" for="name">Olá queremos conhecer você. Qual seu nome?</label>
                  <div class="input-field">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Nome completo</label>
                  </div>
              </div>

              <div class="form__question">
                  <label class="input-label" for="name">Qual o seu nome?</label>
                  <div class="input-field">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Nome completo</label>
                  </div>
              </div>

              <div class="form__question">
                  <label class="input-label" for="name">Qual o seu nome?</label>
                  <div class="input-field">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Nome completo</label>
                  </div>
              </div>

              <div class="form__question">
                  <label class="input-label" for="name">Qual o seu nome?</label>
                  <div class="input-field">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Nome completo</label>
                  </div>
              </div>

              <div class="form__actions">
                  <button class="btn btn-forward">Avançar</button>
              </div>
          </form>

          
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
