<header class="header">
    <div class="container">
      <div class="row">
        <div class="col s12">
         <div class="header__wrapper">
            <img class="header__logo" src="assets/images/logo.png" alt="Você XP">
            <div class="header__info">
                Boa tarde, {{dados.nome}}!

                <span class="header__icon">
                  <img src="assets/images/icon-nuvem.svg">
                </span>
            </div>
         </div>
        </div>
      </div>
    </div>
  </header>

  <section class="block__register">
      <div class="container">
        <div class="row">
          <div class="col s12">
              <form class="form__register">

                  
                  
              </form>
          </div>
        </div>
    </div>
  </section>

