html, body {
    font-family: "Roboto";
}

.header {
    padding: 25px;
}

.header__logo{
    &:hover{
        cursor: pointer;
    }
}

.form__register {
    .form__question {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form__actions {
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 11;
        position: fixed;
        padding: 58px 40px;
        text-align: right;
        border-top: 1px solid #D1D5D8;
        background-color: #fff;
    }
    
    .input-label {
        color: #394148;
        font-size: 26px;
        font-weight: bold;
        
    }
}

.btn {
    font-size: 16px;
    box-shadow: none;
    border-radius: 20px;
    font-family: "Roboto";
    text-transform: none;
    font-weight: 500;
}

.btn-forward {
    background-color: #FFC709;
}

app-cadastro {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        background: none !important;
}
    input:-internal-autofill-selected {
        background: none !important;
    }
    .mat-tab-labels {
        display: none;
    }
    .mat-tab-header {
        display: none;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
    }
    .btn-forward {
        background-color: #FFC709;
    }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.setaVoltarCad{
    opacity: 0;
    cursor: pointer;
    position: fixed;
    margin-left: -45px;
    transition: opacity 0.7s;

    
}

.form__actions {

    padding: 45px 75px;
    

    .btn {
        font-size: 16px;
        box-shadow: none;
        border-radius: 20px;
        font-family: "Roboto";
        text-transform: none;
        font-weight: 500;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .btn-forward {
        background-color: #FFC709;

        &:hover {
            box-shadow: none;
            background-color: darken(#FFC709, 5%);
        }
    }
}
.form__question {

    .input-label {
        margin-bottom: 30px;
    }

    .input-field {
        & > label {
            color: #657687;
            font-size: 19px;  

            &.active {
                color: #FFC709 !important;
            }
        }
    }

    input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
        box-shadow: none !important;
        border-bottom-color: #FFC709 !important;
    }

    input[type] {
        
        border-bottom-color: #CDD6DB !important;

        &:focus {
            box-shadow: none !important;
            border-bottom-color: #FFC709 !important;
        }
    }
}

app-imersao{
    .mat-tab-labels {
        display: none;
    }
}