html, body {
    font-family: "Roboto";
}

.header {
    padding: 25px;
}

.form__register {
    .form__question {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form__actions {
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 11;
        position: fixed;
        padding: 58px 40px;
        text-align: right;
        border-top: 1px solid #D1D5D8;
        background-color: #fff;
    }
    
    .input-label {
        color: #394148;
        font-size: 26px;
        font-weight: bold;
        
    }
}

.btn {
    font-size: 16px;
    box-shadow: none;
    border-radius: 20px;
    font-family: "Roboto";
    text-transform: none;
    font-weight: 500;
}

.btn-forward {
    background-color: #FFC709;
}