
<section class="homepage">
  <div class="container">
   <div class="row">
     <div class="col s12">

        <header class="header--homepage">
            <div class="header__logo">
                <img src="assets/images/logo-white.svg" [routerLink]="['/home']" alt="Você XP">
            </div>
            <div class="header__actions">
              <a href="#">Entrar</a>
              <a class="highlight" [routerLink]="['/cadastro']">Abra sua conta</a>
            </div>
          </header>
          
          <h1 class="block__title">Sonhe mais alto.</h1>
     </div>
   </div>
  </div>
</section>